apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: grafanadatasource-sample
  namespace: aap24-666
spec:
  datasources:
    - access: proxy
      editable: true
      isDefault: true
      jsonData:
        timeInterval: 5s
      name: Prometheus
      type: prometheus
      url: 'http://prometheus-service:9090'
      version: 1
  instanceSelector:
    matchLabels:
      dashboards: grafana-a   
  name: grafana-datasources.yaml

